includes:
    - extension.neon
parameters:
    level: max
    paths:
        - src
        - analyze
        - config
    scanFiles:
        - %currentWorkingDirectory%/phpstan/stubs/archilex-advanced-tables.php
